@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

@font-face {
  font-family: gilroy;
  font-weight: 400;
  src: url('./Gilroy-Regular.ttf') ;
}

@font-face {
  font-family: gilroy;
  font-weight: 300;
  src: url('./Gilroy-Light.ttf');
}
@font-face {
  font-family: gilroy;
  font-weight: 700;
  src:  url('./Gilroy-Bold.ttf');
}

body {
 font-family: gilroy;
}